@charset "ISO-8859-1";
body{
	background-image: url("https://market-width.com/images/tourismindustry.jpg");
	margin:0;
	padding:0;
	height:100vh;
	background-size: cover;
	background-position: center;
}
.input-box{
 	border: none;
    color: red;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 700px;
}
p{
	font-size: 50px;
	color: red;
	text-align: center;
}
.logout-box{
	position:absolute; top:0; right:0;
	margin-top: 10px;
	margin-right: 10px;
}
h2{
	font-size: 2px;
}